
// box model hack
* {
  box-sizing: border-box;
} 

nav {
  display: flex;
  justify-content: space-between;
  width: 100%; 
  padding: 20px;
  font-size: 1.3rem;
}

main {
  margin: 0 auto;
  width: 90%;
}

.box {
  border: 1px solid rgb(201, 201, 201);
  padding: 15px;
<<<<<<< HEAD
  border-radius: 7px;
  box-shadow: 1px 1px 3px 1px rgba(128, 128, 128, 0.2);
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.product-index {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.product {
  width: 32%;
  margin-bottom: 10px;

  a {
    color: black;
  }
  

  p {
    font-weight: bold;
  }

  figure {
    width: 100%;
    margin: 0 auto;
  }

  img {
    width: 100%;
    border-radius: 7px;
  }
}

.product:hover {
  background-color: rgb(248, 248, 248);
}

.wishlist {
  ul {
    list-style-type: none;
  }
=======
}

.flex-box {
  display: flex;
>>>>>>> development
}