
$ikea-blue: #175fac;
$ikea-yellow: #FFDA1A;
$light-grey: rgb(201, 201, 201);
$lightest-grey: rgb(248, 248, 248);
// box model hack
* {
  box-sizing: border-box;
} 

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; 
  padding: 20px;
  font-size: 1.3rem;

  a {
    color: black;
    padding: 10px;
    border-radius: 20px;
  }

  a:hover {
    color: black;
    background-color: $lightest-grey;
  }
}

main {
  margin: 2rem auto;
  width: 80%;
  padding-bottom: 4rem;
}

//Overrides the main tag styling on these pages
.narrow-page {
  width: 60%;
}

.blue-background {
  background-color: $ikea-blue;
  color: white;
}

.blue-background:hover {
  background-color: #145396;
}

.yellow-background {
  background-color: $ikea-yellow;
  color: black;
}

.box {
  border: 1px solid $light-grey;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 1px 1px 3px 1px rgba(128, 128, 128, 0.2);
}

.black-underline {
  border-bottom: 2px solid black;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
  min-height: 80px;
}

.logo {
  color: $ikea-blue;
  background-color: $ikea-blue;
  border: 2px solid $ikea-blue;
  span {
    background-color: $ikea-yellow;
    border-radius: 100px;
    padding: 0 10px;
    display: flex;
  }
  p {
    font-size: 1.7rem;
    font-weight: bold;
    margin: 0;
  }
  small {
    font-size: 0.6rem;
  }
}

.product-index {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.product {
  width: 32%;
  margin-bottom: 10px;

  a {
    color: black;
  }
  

  p {
    font-weight: bold;
  }

  figure {
    width: 100%;
    margin: 0 auto;
  }

  img {
    width: 100%;
    border-radius: 7px;
  }
}

.product:hover {
  background-color: $lightest-grey;
}

.wishlist {
  ul {
    list-style-type: none;
    li {
      margin-bottom: 15px;
    }

    li:hover {
      background-color: $lightest-grey;
    }

    figure {
      width: 30%;

      img {
        width: 100%;
        border-radius: 10px;
      }
    }

    div {
      width: 70%;
    }
    h3 {
      font-size: 1.5rem;
    }
    a {
      color: black;
    }
  }
}

.flex-box {
  display: flex;
}

.basket-item {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid $light-grey;
  
  figure {
    width: 20%;

    img {
      width: 100%;
    }
  }
}

.total {
  font-weight: bold;
  font-size: 2rem;
}

.checkout-btn {
  width: 100%;
  border: none;
  border-radius: 40px;
  padding: 20px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  margin: 5px;
}

.remove-add-btn {
  cursor: pointer;
}

.remove-add-btn:hover {
  color: grey;
}

.show-page {

  h1, h3 {
    text-align: center;
  }

  h3 {
    color: rgb(71, 176, 41);
  }

  p {
    line-height: 1.5;
  }

  figure {
    width: 100%;
    // margin: 1rem auto;

    img {
      border-radius: 15px;
      width: 100%;
    }
  }
  
}

.category-page-tags {
  display: flex;
  flex-wrap: wrap;
}

.profile-page {

  figure {
    width: 50%;
    margin: 0 auto;

    img {
      width: 100%;
      border-radius: 50%;
    }
  }
}

.order-online {
  padding: 4rem;

  h3 {
    font-size: 1.7rem;
  }

  button {
    background-color: black;
    color: white;
    font-weight: bold;
    border: none;
    padding: 12px 25px;
    border-radius: 30px;

  }
}

.fav-btn {
  width: 200px;
  font-size: 1.6rem;
  
  p {
    border: 1px solid $light-grey;
    padding: 15px 20px;
    border-radius: 32px;
    cursor: pointer;
  }

  p:hover {
    border: 1px solid grey;
  }
}

.categories-wrapper {
  button {
    border: none;
    border-radius: 7px;
    padding: 4px 8px;
    margin: 1px;
    background-color: $light-grey;
    color: $lightest-grey;
    cursor: pointer;
  }

  button:hover {
    background-color: rgb(185, 185, 185);
  }

  .clear-btn {
    background-color: $lightest-grey;
    color: grey;
    //border: 1px solid $light-grey;
  }

  .clear-btn:hover {
    background-color: rgb(230, 230, 230);
  }
}

.review {

  button {
    margin: 5px 0 10px 0;
    border-radius: 10px;
    border: 1px solid $light-grey;
    cursor: pointer;
  }

  button:hover {
    background-color: rgb(222, 222, 222);
  }
}

.review-form {
  margin-top: 2rem;

  label {
    font-weight: bold;
    font-size: 1.3rem;
  }

  textarea {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    width: 400px;
    height: 100px;
    padding: 7px;
    font-size: 1rem;
  }

  input {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    padding: 7px;
  }

  button {
    margin: 10px;
    //font-size: 1.1rem;
    font-weight: bold;
    border: 1px solid rgb(249, 199, 0);
    padding: 7px 15px;
    border-radius: 20px;
    cursor: pointer;
  }

  button:hover {
    background-color: rgb(249, 199, 0);
  }
}
